<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="mesflit/apkcollector"
        data-repo-id="R_kgDOMcNDcw"
        data-category="General"
        data-category-id="DIC_kwDOMcNDc84ChPP8"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
